body {
    display: flex;
    justify-content: center;
    background-color: rgb(230, 230, 230);
}


ul {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-around;
    list-style: none;
    width: 70%;
    padding: 0;
    margin: auto;
}

section{
    padding: 2%;
}

li {
    display: flex;
background-color: rgb(245, 245, 245);
    border: 0.4rem solid black;
    margin: 2%;
    padding: 2%;
    width: 20%;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Georgia, serif;
    font-size: 1em;
    line-height: 1.2;
}

.gallery img {
    box-sizing: border-box;
	width: 100%;
    object-fit: contain;
}
