body {
    background-color: rgb(238, 238, 238);
}

img {
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px 5px 0 0;
}

ul {
    display: flex;
    box-sizing: border-box;
 list-style-type: none; 
}

li {
    background-color: white;
    margin-bottom: 10%;
    border-radius: 10px;
}



.main_div{
width: 50%;
    margin: auto;
}


p{
    padding: 5% 10% 5% 10%;
}

p.footer {
    border-top: 2px solid rgb(238, 238, 238);
    padding: 10% 0 0 10%;
}

.column {
	 display: flex;
    flex-direction: column;
    width: 33%;
    margin-right: 4%;
}


ul.Flex {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;

}


li.flex {
    display: flex;
    flex-wrap: wrap;
    margin-right: 2%;
    width: 25%;
    margin-bottom: 2%;
}

